@media screen and (max-width: 1640px) {
  .switch-custom__content {
    gap: 60px;
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__info .widget__info__card {
    padding: 20px 20px 15px 20px;
    width: 260px;
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__list {
    padding: 20px 20px 15px 20px;
    width: calc(100% - 260px);
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__list .feedback__widget__list__slick .slick__item {
    padding: 0 15px;
  }
  .aluminum__two__section .aluminum__section__row__two {
    gap: 25px;
  }
  .steel-one__tab-fixed {
    position: fixed;
    top: 100px;
    width: 100%;
    display: block;
    background: #fff;
    z-index: 1;
    left: 0;
  }
  .system-items {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
  }
  .aluminum__section .aluminum__section__body .aluminum__section__card.no__outline {
    padding: 0;
  }

  .aluminum__section .aluminum__section__body .aluminum__section__row {
    margin-right: -10px;
    margin-left: -10px;
    .col_4, .col_3, .col_5 {
      padding: 10px;
    }

  }
  .section__glass__design .nav-section {
    visibility: visible;
  }


  .main-slider {
    margin-right: 0;
  }
  .section-five {
    .five-slider {
      margin-right: 0;
    }
  }
  .seven-slider {
    margin-right: 0;
  }
  .content-four__main {
    gap: 50px;
  }
  .text-section__color {
    font-size: 50px;
  }

  .image-section__image img {
    width: 45vw;
  }
  .image-section__circle-label {
    width: 12vw;
  }

  .section-one__body {
    padding-top: 110px;
  }

  .foomenu__body, .footer__other {
    padding: 0 40px;
  }
  .foomenu__list {
    gap: 20px 60px;
  }

}


@media screen and (max-width: 1340px) {

  .our__partners__provide .our__partners__provide__body .provide__body__row {
    display: flex;
    gap: 10px;
  }
  .our__partners__provide .our__partners__provide__body .provide__body__row .provide__body__col {

    font-size: 14px;
    .provide__body__col__title {
      font-size: 18px;
    }
  }
  .our__partners__provide .our__partners__provide__header .our__partners__provide__title {
    font-size: 26px;
  }
  .page-template-page-checkout .woocommerce-checkout .woocommerce__checkout__wrap .checkout__col_l {
    width: calc(100% - 430px);
    padding-right: 20px;
  }
  .swith-configuration {
    gap: 15px;
  }
  .swith-configuration__item-text {
    padding: 15px 15px;
  }
  .section__faqs .section__faqs__wrap {
    gap: 16px;
    .section__faqs__header {
      width: 550px;
    }
  }
  .handless-item .slick-track {
    display: flex;
    gap: 15px;
  }

  .article-two__body .gallery__wrap .gallery__item {
    height: 350px;
  }

  .aluminum__section .aluminum__section__body .aluminum__section__row .col_5 {
    width: 25%;
  }

  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .select__dimensions .tc-col > .tc-row > .tc-cell.cpf-type-select .tc-element-inner-wrap > .tc-row .tc-epo-label {
    width: 60px;
    flex: 0 0 60px;
    max-width: 60px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .select__dimensions .tc-col > .tc-row > .tc-cell.cpf-type-select {
    width: 150px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .select__dimensions .tc-col > .tc-row > .tc-cell.cpf-type-select .tc-element-inner-wrap > .tc-row .tc-element-container .select2 {

    width: 100% !important;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .select__dimensions .tc-col > .tc-row > .tc-cell.cpf-type-select .tc-element-inner-wrap > .tc-row .tc-element-container {
    padding: 0;
    width: calc(100% - 60px);
    flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .cpf-section > .tc-section-inner-wrap > .tc-row > .tc-cell > .tc-row {
    gap: 5px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .select__dimensions {
    margin-top: 5px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .product_title {
    font-size: 26px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .cpf-section .options__title-div {
    font-size: 18px;
  }

  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap {
    gap: 20px;
  }
  .single.single-product .single__product__wrap .product__images__wrap .product__info__carts .info__cart {
    .info__cart__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .info__cart__text {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
    }
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .cpf-type-radio .tm-extra-product-options-radio.tc-images-container .tmcp-field-wrap{
    lex: 0 0 130px;
  }
  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__main .tc-extra-product-options .cpf-type-radio .tm-extra-product-options-radio.tc-images-container .tmcp-field-wrap.tc-active {
    flex: 0 0 260px;
  }


  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__total {
    width: 300px;
    .cart__form__total__wrap {
      padding: 10px;
      .total__block__title {
        font-size: 18px;
      }
    }
  }

  .single.single-product .single__product__wrap .product__images__wrap {
    width: 300px;
  }
  .single.single-product .single__product__wrap {
    gap: 20px;
  }

  .swith-configuration-wrapper {
    .switch-one__configuration-item {
      display: flex;
      flex-wrap: wrap;
      .swith-configuration__item {
        width: calc(50% - 8px);
        max-width: none;
        .swith-configuration__item-image {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .aluminim-page__kompas {
    margin: 30px 0px 60px 0px;
    gap: 30px;
  }
  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap .glass__design__item .design__item__thumb {
    height: 280px;
  }
  .footer .footer__main .footer__menu .foomenu__body .foomenu__list {
    max-width: 500px;
    gap: 15px 30px;
  }
  .seven-slider .main-seven__slider__item {
    padding: 0 8px;
  }
  .accordion .accordion__title {
    font-size: 20px;
  }

  .section__faqs .section__faqs__wrap .section__faqs__header .section__faqs__text {
    br {
      display: none;
    }
  }
  .switch-custom__left {
    max-width: 100%;
  }

  .category__products .category__products__body .category__product__wrap {
    width: 50%;
  }
  .woocommerce ul.products li.product .product__wrap .product__image, .woocommerce-page ul.products li.product .product__wrap .product__image {
    height: 350px;
  }
  .children__categories__section .children__categories__wrap .children__category a {
    padding: 16px 22px;
    gap: 16px;
    font-size: 18px;
  }
  .woocommerce ul.products, .woocommerce-page ul.products {
    margin: 0 -8px;
  }
  .section__investment .section__investment__wrap .section__investment__img {
    width: 50%;
  }
  .section__investment .section__investment__wrap .section__investment__body {
    padding: 40px 40px;
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    padding: 8px;
  }

  body.show__catalog .main__catalog__wrap .main__catalog__body {
    max-width: 96%;
    padding: 30px 40px;
  }


  .hero__section .hero__title {
    font-size: 48px;
  }
  .footer .footer__main .footer__menu .foomenu__body .foomenu__list {
    max-width: 100%;
  }


  .blog-section__body .blog-main .blog-main__item {
    width: 33.3333%;
  }

  .text-section__color {
    font-size: 42px;
  }
  .menu__list {
    gap: 40px;
  }
  .section-one__body {
    padding-top: 70px;
  }

  .map-block {
    height: 760px;
    .map-card-wrapper {
      left: 100px;
      top: 150px;
    }
    .map-card-wrapper-two {
      right: 100px;
      top: 150px;
    }
  }

  .contasts-item {
    padding: 40px 0;
  }

  .foomenu__list {
    gap: 10px 20px;
  }
  .foomenu__body, .footer__other {
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .foomenu {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
    .foomenu__list {
      gap: 10px 20px;
      display: flex;
      justify-content: space-between;
    }
  }
  .foomenu__quest {
    gap: 10px;
  }

  .footer__contact {
    width: 330px;
    flex: 1 0 auto;
  }
  .footer_rows,  {
    width: calc( 100% - 330px );
  }

  .footer__other {
    margin-bottom: 0;
    .other__item {
      gap: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .about-one {
    gap: 100px;
  }
  .about-one__right-one {
    font-size: 36px;
  }
  .about-one__left-square img {
    max-width: 48vw;
  }
  .about-one__left-circle img {
    width: 150px;
  }
}


@media screen and (max-width: 1025px) {
  .page-template-page-checkout .woocommerce-checkout .woocommerce__checkout__wrap .checkout__col_r {
    width: 380px;
  }
  .page-template-page-checkout .woocommerce-checkout .woocommerce__checkout__wrap .checkout__col_l {
    width: calc(100% - 380px);
    padding-right: 20px;
  }
  .online-form {
    display: flex;
    flex-direction: column;
  }
  .online-form1__left {
    max-width: 100%;
  }
  .steel-one__tab-fixed {
    top: 86px;
  }
  .aluminum__section .aluminum__section__body .aluminum__section__row {
    justify-content: center;
  }
  .aluminum__section .aluminum__section__body .aluminum__section__row .col_4 {
    width: 50%;
  }

  .partitions__quiz__block__start {
    .partitions__quiz__block__start__img {
      display: none;
    }
  }
  .partitions__quiz__block__start {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    .partitions__quiz__block__start__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .aluminum__section .aluminum__section__body .aluminum__section__row .col_3 {
    width: 50%;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__block__header .artitions__quiz__title {
    text-align: center;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap {
    padding: 30px 20px;
  }
  .aluminum__two__section .aluminum__section__row__two {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .aluminum__section__header {
      .aluminum__section__content {
        .aluminum__section__content_cards {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 50px;
        }
      }

    }
    .aluminum__section__body {
      max-width: 100%;
    }
  }


  .single.single-product .single__product__wrap {
    flex-direction: column;
  }
  .single.single-product .single__product__wrap {
    .product__images__wrap {
      width: 100%;
      .product__info__carts {
        display: none;
      }
      .product__images {
        max-width: 360px;
        width: 100%;
        margin:  0 auto;
        position: relative;
        top: 0;
      }
    }
  }

  .single.single-product .single__product__wrap .product__summary__wrap .summary .cart__form__wrap .cart__form__total {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 9999;
    border-top: 2px solid #232C2E;
    .cart__form__total__wrap {
      width: 300px;
      border: none;
      .estimated__cost__info {
        display: none;
      }
      .price {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        text-transform: inherit;
        ins {
          margin-bottom: 0;
        }
        del {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-end;
          .woocommerce-Price-amount {
            color: #FF0505;
            text-align: right;

            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142%; /* 19.88px */
            text-decoration: line-through;
          }
        }
      }
    }
  }


  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__block__header {
    flex-direction: column;
    gap: 20px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__row .partitions__quiz__col.partitions__quiz__col_4 {
    width: 50%;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__row .partitions__quiz__col.partitions__quiz__col_3 {
    width: 50%;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .form-two__iama {
    grid-template-columns: repeat(3, 1fr);
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .final__form {
    flex-direction: column;
    gap: 20px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__final__footer .hero__contact__social {
    justify-content: center;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .final__form .final__form__text {
    width: 100%;
    text-align: center;
    br {

    }
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 33.333%;
  }
  .children__categories__section .children__categories__wrap .children__category {
    width: 33.333%;
  }
  .section__investment .section__investment__wrap .section__investment__img {
    width: 100%;
  }
  .section__investment .section__investment__wrap {
    flex-direction: column;
  }
  body.show__catalog {
    .main__catalog__wrap {
      margin-top: 94px;
      height: calc( 100% - 94px );
      .main__catalog__body {
        max-width: 100%;
        margin: 0;
        max-height: initial;
        height: 100%;
        overflow: auto;

        .catalog__list {
          justify-content: center;
          .catalog__item__wrap {
            width: 50%;

            .catalog__item {
              &:after{
                opacity: 1;
              }
              .catalog__item__body {
                .catalog__item__title {
                  color: white;
                  margin-bottom: 15px;
                }
                .catalog__item__submenu {
                  height: auto;
                }
              }
            }

          }
        }




        .mob__menu__wrap {
          display: block;
          padding: 30px 0;
          border-top: 1px solid #EEF0F6;
          .menu__actions {

            .item-action__items {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 30px;


              .item__action {
                display: flex;
                gap: 10px;
                align-items: center;
                .item__action__icon {
                  color: #30B8C4;
                }

                a.item__action__name {
                  color: #232C2E;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 154.184%
                }

              }

            }
          }

          .menu__list {
            transform: translateX(0);
            gap: 30px;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
            & > .menu__item {
              width: 100%;
              .menu__link {
                padding-left: 0;
                font-weight: 500;
              }
              .menu__media {
                position: relative;
                top: 0;
                width: 100%;
                padding-left: 0;
                margin-left: 0;
                transform: translate(0, 0);
                border: none;
                height: 0;
                overflow: hidden;
                .menu__media-item{
                  .menu__sub-link {
                    padding-left: 20px;
                  }
                }
                &.opened {
                  height: auto;
                }
              }
            }
          }
          .item-action {
            display: flex;
            margin-left: 0;
            .item-action__items {
              display: flex;
              flex-direction: column;
              align-content: flex-start;
              align-items: flex-start;
              gap: 30px;
              .item__action {
                display: flex;
                margin-bottom: 30px;
                .item__action__icon {
                  margin-right: 10px;
                  margin-left: 0;
                  font-size: 20px;
                  color: #30b8c4;
                }
                .item__action__name {
                  margin: 0;
                  display: flex;
                  color: #232C2E;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 154.184%;
                  br { display: none }
                }
              }
              .item-action__phone, .item-action__time {
                display: flex;
              }
            }
          }
          .text-section__social-list {
            margin: 0;
            gap: 17px;
            .social__item {
              a {
                display: inline-block;
                img, svg {
                  width: 33px;
                  height: 33px;
                }
              }
            }
          }
        }
      }
    }
  }



  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap {
    padding: 0 8px;
  }
  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap .glass__design__item .design__item__thumb {
    height: 330px;
  }
  .hero__section {
    padding-top: 20px;
    .hero__section__wrap {
      flex-direction: column;
      .hero__section__body {
        width: 100%;
      }
      .hero__section__image {
        width: 100%;
        order: -1;
        .hero__section__image__logo {
          display: none;
        }
      }
    }
  }
  .section__hardware .section__hardware__wrap .section__hardware__body .section__hardware__item__wrap {
    width: 50%;
  }

  .section__glass__design .section__glass__design__wrap {
    flex-direction: column;

    .section__glass__design__header {
      width: 50%;
      margin-bottom: 50px;
      padding-top: 0;
    }

    .section__glass__design__body {
      width: 100%;
      .glass__design__slider__wrap {
        margin-right: 0;
      }
    }

  }
  .section__category__gallery .section__category__gallery__wrap .section__category__gallery__body .category__gallery__wrap .category__gallery {
    padding: 0;
  }
  .section__hardware .section__hardware__wrap {
    padding-bottom: 50px;
    .section__hardware__body {
      margin: 0 -8px;
      .section__hardware__item__wrap {
        padding: 8px;
      }
    }
  }
  .section__handles__categories .section__handles__categories__wrap .handles__categories__body .handles__categories__wrap .handles__category__item {
    width: 50%;
  }

  .section__stages .section__stages__wrap .section__stages__body .section__stages__body__wrap .section__stages__list {
    flex-direction: column;
    .section__stagy__item {
      width: 100%;
      margin-bottom: 30px;
      .arrow__icon {
        top: auto;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
      }
    }
  }

  .section__faqs .section__faqs__wrap {
    flex-direction: column;
    .section__faqs__header {
      width: 100%;
    }
  }



  .wrapper main.main {
    overflow: hidden;
  }

  .form-content__input {
    .wpcf7 {
      width: 100%;
    }
  }

  .section__our__products .our__products__body .products__list {
    flex-wrap: wrap;
    .product__item__wrap {
      width: 50%;
    }
  }
  #menuOpen {
    display: block;
  }
  .blog-section__body .blog-main .blog-main__item {
    width: 50%;
  }
  .main__blog-section {
    margin-bottom: 40px;
  }
  .blog-section__bottom {
    margin-top: 30px;
  }
  .post_home .post-txt_home {
    padding: 15px 10px;

  }
  .section-one__body {
    padding-top: 0;
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;

    .main-section__text {
      width: 100%;
    }

    .main-section__image {
      width: 100%;
      padding: 20px 0 30px 0;
      .image-section__body {
        position: relative;


        .image-section__circle-label {
          position: absolute;
          width: 150px;
          left: 50%;
          top: 50%;
          margin: 0;
          transform: translate(-50%, -50%);
        }
        .image-section__image {
          margin-left: 0;
          width: 100%;
          height: 420px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

    }

  }
  .blog-section__body .blog-main {
    margin: 0 -8px;
  }
  .blog-section__body .blog-main .blog-main__item {
    padding: 8px;
  }
  header.header {
    .header__wrapper {
      .header__body {
        height: 94px;
        padding: 10px 0;
        gap: 20px;
      }
    }
  }

  .blog-page__main {
    padding-bottom: 30px;
    .blog-item {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 40px;
      .blog-item__left {
        order: 1;
        width: 100%;
        text-align: center;
        br { display: none }
      }
      .blog-item__right {
        .blog-image__body {
          position: relative;
          .blog-image__circle-label {
            margin: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 170px;
          }
          .blog-image__image {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
  .blog-item__title {
    font-size: 42px;
  }
  .portfolio-item__content .portfolio-item__image {
    height: 300px;
  }

  .portfolio-item__text-view a {
    font-size: 0;
  }
  .portfolio-item__text-title {
    color: #232C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 106.184%;
  }

  .three-install__document-text-two {
    color: #979AB1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.184%;
  }

  .container {
    padding: 0 40px;
  }
  .product_item_wrap {
    margin-bottom: 40px;
    #header_menu_product_item {
      font-size: 20px;
      font-weight: 700;
      line-height: 90.684%;
      margin-bottom: 20px;
    }

  }
  .header__menu__wrap {
    position: fixed;
    left: 0;
    top: 94px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    height: 0;
    overflow: hidden;
    transition: height .2s ease-in-out, padding .2s ease-in-out;
  }


    .footer {
      .hr_footer { display: none }
      .footer__body {



        .footer__main {
          display: flex;
          width: 100%;
          flex-direction: column;
          .footer__contact {
            border: none;
            border-top: 1px solid #EEF0F6;
            border-bottom: 1px solid #EEF0F6;
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            .contact__logo {
              display: block;
              .footer__logo {
                margin-top: 0;
                width: 100%;
                height: auto;
              }
            }
            .social__list {
              margin-bottom: 0;
            }

            .contact__contacts {
              width: 320px;
              padding: 30px 0;
              h1 { margin-top: 25px }
            }

            .contact__map {
              display: block;
              width: 100%;
            }

          }
        }
      }

      .footer_rows {
        width: 100%;
        height: auto;
        .foomenu {
          height: auto;
          padding: 20px 0 30px 0;
          border-bottom: 1px solid #EEF0F6;
        }
      }
      .foomenu__body, .footer__other {
        padding: 0;
        margin-bottom: 50px;
      }

      .footer__other {
        margin-bottom: 0;
        height: auto;
        width: 100%;
        display: block;
        .other__item {
          padding: 20px 0 30px 0;
        }
      }

    }

  .footer__copyright {
    border-top: 1px solid #232C2E;
    height: 48px;
    color: #232C2E;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 154.184%;
  }


  .content-four__main {
    display: flex;
    gap: 30px;
    flex-direction: column;
    .form-content {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
    }
  }

  .map-block {
    .map-card-wrapper-two {
      display: none;
    }
    .map-card-wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  .left-item__form {
    padding: 30px;
  }

  .contasts-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    .contasts-item__left {
      order: 1;
      .left-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    }

    .contasts-item__right {
      .contasts-item__right-item {
        display: flex;
        flex-direction: column;

        .right-item__title {
          order: 1;
        }
        .right-item__address {
          order: 3;
        }
        .right-item__phone {
          order: 4;
          margin-bottom: 20px;
          margin-top: 0;
        }
        .right-item__email {
          order: 5;
          margin-bottom: 20px;
          margin-top: 0;
        }
        .right-item__map {
          order: 2;
          margin-bottom: 20px;
          margin-top: 0;
          iframe {
            height: 300px;
          }
        }
      }
    }
  }
  body {
    margin-top: 94px;
  }
  .main-blog__crumbs {
    padding: 20px 0;
  }


  .about-one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
    .about-one__left {
      width: 100%;
      max-width: 688px;
      margin: 0 auto;
      .about-one__left-square {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: fit-content;
          max-height: fit-content;
        }
      }
      .about-one__left-circle{
        img{
          width: 171.111px;
          height: 171.094px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .about-one__right {
      width: 100%;
      max-width: 688px;
      margin: 0 auto 30px auto;
    }
  }

  .about-two__benefits {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    .about-two__benefits-one {
      width: calc( 50% - 25px);
    }

  }
  .install-page {
    padding-top: 0;

  }
  .main-install__one {
    padding-top: 0;
  }

  .two-install__video-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 20px;
  }
  .three-install__document {
    display: flex;
    flex-direction: column;
  }

  .three-install__document-content{
    max-width: 100%;
  }


  .video-item__containers {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .video-item__text-title {
    color: #232C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
  }


  .video-item__text-date {
    color: #979AB1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.184%;
  }
  .video-item__title {
    padding: 15px 10px;
  }

  .main__blog-page {
    padding-top: 0;
  }

  .section__category__gallery .section__category__gallery__wrap .section__category__gallery__header {
    width: 100%;
    .section__category__gallery__title {
      font-size: 28px;
      br { display: none }
    }
  }

  .product_info-template-product_info_type_1 {
    .hero__section {
      padding-top: 0;
    }
    .main-blog__crumbs {
      margin-top: 0;
    }
  }


  .section__product__info__variants .product__info__variants {
    margin: 0 -8px;
    li {
      padding: 0 8px;
      a {
        padding: 15px 15px;
      }
    }
  }

  .section__glass__railing__system .railing__system__wrap {
    flex-direction: column;
    gap: 40px;
    .l, .r {
      width: 100%;
    }
  }

  .section__availably__options .section__availably__wrap .section__availably__body {
    gap: 25px;
  }
  .for_our_partners .for_our_partners__body {
    flex-wrap: wrap;
    .for_our_partners__cart {
      width: 50%;
    }
  }


}




@media screen and (max-width: 780px) {

  .our__partners__provide .our__partners__provide__body .provide__body__row {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }
  .our__partners__provide .our__partners__provide__body .provide__body__row .provide__body__col {
    width: 50%;
    margin-bottom: 20px;
  }
  .page-template-page-checkout .woocommerce-checkout .woocommerce__checkout__wrap {
    flex-direction: column;
    .checkout__col_l, .checkout__col_r {
      width: 100%;
      padding: 0;
    }
  }
  .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 100%;
   
  }

  .section__feedback__widget .feedback__widget__wrap {
    flex-direction: column;
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__list {
    width: 100%;
    padding: 0;
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__info .widget__info__card {
    padding: 0 0 40px 0;
    width: 100%;
    border: none;
  }
  .article-two__body .gallery__wrap {
    gap: 10px;
    margin-bottom: 20px;
    .gallery__item {
      height: 250px;
      width: calc(50% - 5px);
    }
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__list .feedback__widget__list__slick .slick__item {
    padding: 0 5px;
  }
  #partitions__quiz__app {
    .container {
      padding: 0;
    }
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__form__rows .partitions__quiz__form__row .partitions__quiz__form__row__body .input_inch {
    flex-direction: column;
    gap: 10px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__row .partitions__quiz__col {
    padding: 3px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__row {
    margin: 0 -3px;
  }

  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__row .partitions__quiz__col .card__radio .card__radio__title {
    font-size: 14px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .quiz_input__radio {
    top: 10px;
    right: 10px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__title {
    font-size: 20px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__form__input__simple .form__input__simple {
    padding: 6px 15px 6px 60px;
    height: 70px;
    font-size: 16px;
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .final__form .final__form__form .final__form__form__row {
    flex-direction: column;
  }
  .aluminum__two__section .aluminum__section__row__two .aluminum__section__header .aluminum__section__content .aluminum__section__content_cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .aluminim-page__body {
    .system-items {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .form-two__iama {
    grid-template-columns: repeat(2, 1fr);
  }
  .section__partitions__quiz .section__partitions__quiz__wrap .partitions__quiz__block .partitions__quiz__steps .partitions__quiz__step .partitions__quiz__step__body .partitions__quiz__form__input__simple .form__input__simple {
    width: 100%;
  }

  .aluminum__section .aluminum__section__body .aluminum__section__row .col_5 {
    width: 33.333%;
  }

  .aluminium-glass {
    margin-bottom: 40px;
  }

  .aluminim-page__system {
    margin-bottom: 40px;
  }



  .footer .footer__main .footer__menu .foomenu__body .foomenu__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .steel-one__tab-fixed {
    top: 93px;
    z-index: 2;
    .tablink-steel {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 15px 5px 5px 5px;
      font-size: 14px;
      img {
        max-height: 40px;
      }
    }
  }

  .steel-one__tab {

  }


  .aluminium-glass__title {
    line-height: normal;
  }

  .aluminim-page__kompas {
    display: flex;
    flex-direction: column;
  }


  .steel-one__tab-item {
    border: 2px solid transparent;
    margin: 0;
  }
  .tablink-steel {
    align-items: center;
  }
  .steel-one__tab {
    .tablink-steel {

      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 14px;
      img {
        max-height: 40px;
      }
    }

  }

  .category__products .category__products__body .category__product__wrap {
    width: 100%;
  }
  .hero__section .hero__contact {
    margin-top: 40px;
    .hero__contact__social {
      justify-content: center;
      align-items: center;
    }
  }

  .container {
    padding: 0 15px;
  }
  .children__categories__section .children__categories__wrap .children__category a {
    padding: 10px 10px;
    gap: 5px;
    font-size: 16px;
    line-height: 18px;
  }

  .children__categories__section .children__categories__wrap .children__category {
    width: 50% ;
  }
  .children__categories__section .children__categories__wrap .children__category a .children__category__icon {
    flex: 0 1 auto;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product,
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 50% ;
    margin-bottom: 20px;
  }

  body.show__catalog .main__catalog__wrap .main__catalog__body {
    padding: 20px 24px;
  }
  .hero__section .hero__title {
    font-size: 34px;
  }
  .section__product__info__variants .product__info__variants {
    flex-wrap: wrap;
    li {
      width: 50%;
      padding: 8px;
    }
  }
  .section__faqs .section__faqs__wrap .section__faqs__header .section__faqs__title,
  .for_our_partners .for_our_partners__title,
  .section__glass__railing__system .railing__system__wrap .railing__system__body .railing__system__title,
  .section__availably__options .section__availably__title {
    font-size: 28px;
  }
  .accordion .accordion__title,
  .section__availably__options .section__availably__wrap .section__availably__subtitle,
  .for_our_partners .for_our_partners__body .for_our_partners__cart .for_our_partners__cart__title{
    font-size: 18px;
  }
  .section__faqs .section__faqs__wrap .section__faqs__header .section__faqs__text {
    br { display: none }
  }

  .for_our_partners .for_our_partners__body .for_our_partners__cart {
    width: 100%;
    margin-bottom: 40px;
  }
  .hero__section .hero__section__body .hero__btns {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__section .hero__title {
    br {
      display: none;
    }
  }
  .hero__section .hero__section__wrap .hero__section__body {
    text-align: center;
  }
  .section__category__gallery .section__category__gallery__wrap .section__category__gallery__body .category__gallery__wrap .category__gallery .category__gallery__item .category__gallery__img {
    width: 600px;
    height: 400px;
  }
  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap {
    padding: 0 2px;
  }
  .section__handles__categories .section__handles__categories__wrap .handles__categories__body .handles__categories__wrap .handles__category__item {
    width: 100%;
  }
  .section__faqs .section__faqs__wrap .section__faqs__header {
    width: 100%;
  }
  .section__faqs .section__faqs__wrap {
    flex-direction: column;
  }

  .section__our__products .our__products__body .products__list {
    flex-direction: column;
    .product__item__wrap {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .product__item__img {
        padding: 15px !important;
      }
    }
  }

  .main__section-six { display: none }
  .footer__other {
    .other__item {
      flex-wrap: wrap;
    }
  }
  .section-five .five-slider .five-slider__item .five-slider__image {
    height: 250px;
  }
  .popup-form__content {
    padding: 0px 10px 20px 10px;
    gap: 20px;
  }

}

@media screen and (max-width: 600px) {

  .img-title__crumbs {
    flex-wrap: wrap;
  }
  .article-two__body .gallery__wrap {
    gap: 10px;
    margin-bottom: 20px;
    .gallery__item {
      height: 150px;
      width: calc(50% - 5px);
    }
  }

  .partitions__quiz__block__start .partitions__quiz__block__start__content .title {
    font-size: 26px;
  }
  .partitions__quiz__block__start .partitions__quiz__block__start__content .block__info__wrap .block__info__col .title_i {
    font-size: 20px;
  }
  .partitions__quiz__block__start .partitions__quiz__block__start__content .block__info__wrap {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .container {
    padding: 0 15px;
  }
  .swith-configuration-wrapper .switch-one__configuration-item .swith-configuration__item {
    width: 100%;
    max-width: none;
    .swith-configuration__item-image {
      max-height: 280px;
      overflow: hidden;
    }
  }
  .switch-online {
    padding: 20px 0;
  }
  .section__glass__design {
    .container {
      padding: 0;
    }
  }
  .section__feedback__widget {
    margin-bottom: 30px;
  }
  .feedback__widget__wrap {
    padding: 30px 0;
  }
  .switch-one__configuration {
    margin: 30px 0px 60px 0px;
  }
  .switch-one__right {
    margin-left: 0;
  }
  .switch-one__right-title {
    font-size: 28px;
    margin-top: 30px;
    br {
      display: none;
    }
  }

  .aluminum__section .aluminum__section__body .aluminum__section__row .col_3 {
    width: 100%;
  }
  .aluminum__section .aluminum__section__body .aluminum__section__row .col_4 {
    width: 100%;
  }

  .main-blog__crumbs {

    .main-blog__crumbs-two {
      display: none;
    }

  }

  .aluminim-page__kompas .kompas-right__title {
    color:  #232C2E;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .section__glass__design .section__glass__design__wrap .section__glass__design__header {
    margin-bottom: 20px;
   }
  .section__glass__design .section__glass__design__wrap .section__glass__design__header .design__header__text {
    margin: 21px 0;
  }
  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap .glass__design__item .design__item__thumb {
    height: 230px;
  }
  .switch-leftOne__image {
    max-width: 100%;
    height: 280px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .switch-leftOne__text-content {
    padding: 0;
  }

  .aluminum-tooltips {
    max-width: 100%;
    height: 320px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }


  .accordion .accordion__title, .section__availably__options .section__availably__wrap .section__availably__subtitle, .for_our_partners .for_our_partners__body .for_our_partners__cart .for_our_partners__cart__title {
    font-size: 14px;
    line-height: 16px;
  }
  .main__section-one {
    padding-top: 0;
  }

  body.show__catalog .main__catalog__wrap .main__catalog__body .catalog__list .catalog__item__wrap {
    width: 100%;
  }


  .img-title__title p {
    font-size: 26px;
    line-height: 32px;
  }
  .img-title__banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 60px;
  }
  .img-title__item {
    gap: 40px;
  }
  .single-post {
    .article-two__content {
      padding-bottom: 0;
    }
    .img-title__crumbs-two {
      display: none;
    }
    .img-title__crumbs {
      ._icon-menu_arrow {
        &:last-of-type{
          display: none;
        }
      }
    }
  }

  .blog-section__body .blog-main .blog-main__item {
    width: 100%;
  }

  .two-install__video-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 20px;
  }
  .three-install__document-download {
    padding-right: 15px;
  }

  .main-blog__crumbs-two {
    color: #232C2E;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.184%;
    text-transform: none;
  }
  .main-blog__crumbs-one {
    color: #232C2E;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 154.184%;
  }
  .video-title__welcome {
    color:  #232C2E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    br { display: none }
  }
  .video-title__title {
    color: #232C2E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110.5%;
    text-transform: uppercase;
  }
  .video-title {
    padding-top: 20px;
  }
  .video-title__welcome {
    margin-bottom: 20px;
  }
  .three-install__document-image {
    padding: 30px 15px;
  }
  .product_item_wrap {
    margin-bottom: 10px;
    #header_menu_product_item {
      margin-bottom: 10px;
    }
  }
  .header__menu__wrap {
   padding-left: 15px;
    padding-right: 15px;
  }

  .nav-section__item {
    font-size: 0;
    width: 60px;
  }


  .main-slider__title {
    color: #232C2E;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 106.184%;
  }


  .main-slider, .section-five .five-slider, .seven-slider {
    margin-right: -50vw;
  }

  .footer .footer__other .other__item {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .main-slider .main-slider__item {
    margin: 36px 8px;
    min-height: 330px;
  }

  .five-slider__title {
    color: #232C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .section-five .five-slider .five-slider__item .five-slider__image .five-slider__button { display: none }
  .five-slider__category {
    color: #232C2E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 154.184%;
  }
  .section-five .five-slider .five-slider__item .five-slider__text {
    padding: 10px;
  }
  .section-five .five-slider {
    padding-bottom: 40px;
  }
  .main-slider .main-slider__item .main-slider__image {
    height: 250px;
  }

  .text-section__button {
    display: flex;
    flex-direction: column;
    margin-bottom: 47.61px;
    gap: 20px;
  }
  .text-section__color {
    font-size: 36px;
    br {
      display: none;
    }
  }

  .text-section__fill, .text-section__outline {
    width: 270px;
  }

  .benefits-list__originality, .benefits-list__meeting, .benefits-list__lowest, .benefits-list__staff, .benefits-list__excellent, .benefits-list__interaction {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;

  }
  .benefits-list__originality-text, .benefits-list__meeting-text, .benefits-list__lowest-text, .benefits-list__staff-text, .benefits-list__excellent-text, .benefits-list__interaction-text {
    max-width: 100%;
  }
  .item-action__time { display: none }
  .benefits-list {
    gap: 20px;
  }

  .text-section__about-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%
  }

  .form-content__text {
    max-width: 429px;
    max-height: 86px;
    margin: 30px 10px 15px 10px;
    position: relative;
  }
  .form-content__input {
    margin-top: 0;
    padding: 0 10px;
  }
  input[type=submit] {
    margin-top: 0;
  }
  .form-content__item-two {
    font-size: 14px;
  }
  .form-content__input-name,
  .form-content__input-phone,
  .form-content__input-email,
  .form-content__input-message {
    color: #232C2E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 154.184%;
  }
  .benefits-list__originality-icon, .benefits-list__meeting-icon, .benefits-list__lowest-icon, .benefits-list__staff-icon, .benefits-list__excellent-icon, .benefits-list__interaction-icon {
    max-width: 100%;
    br {
      display: none;
    }
  }
  .contacts__item {
    position: relative;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
  .main-seven {
    padding-bottom: 30px;
  }
  .seven-slider .main-seven__slider__item {
    padding: 0 8px;
  }
  .five-slider .slick-slide {
    padding: 0 8px;
  }
  .footer .footer__body .footer__main .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 0;
    .contact__contacts {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 1;
      .contact__logo {
        width: 180px;
      }
      h1 {
        display: none;
      }
      .contacts__list {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        margin-left: 0;
        width: 100%;
        br {
          display: none;
        }
      }
    }
    .contact__map {
      width: 100%;
      height: 300px;
    }
  }
  .foomenu .foomenu__list {
    display: flex;
    flex-direction: column;
    color: #232C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 154.184%;
  }
  .form-four {
    display: flex;
    flex-direction: column;
    gap: 30px;
    button {
      width: 100%;
      border-radius: 0;
    }
  }

  .post_home .post-txt_home .post-h3_home {
    color: #232C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 16.8px */
  }

  .post-except_home {
    color: #979AB1;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .left-item__form {
    padding: 10px;
  }
  .contasts-page .wpcf7-form .button-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

  }

  .left-item__one-title {
    font-size: 20px;
  }
  .left-item__two-title {
    color:  #232C2E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 105.184%;
  }

  .left-item__personal, .title-contacts {
    display: none;
  }

  .about-one__right-one {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110.5%;
  }
  .about-two__benefits-title {

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.684%;
    text-transform: uppercase;
  }
  .about-one__right-two, .about-two__benefits-about {
    color: #232C2E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.5%;
  }
  .about-two__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }
  .about-two__benefits {
    .about-two__benefits-one {
      width: 100%;
    }
  }
  .article-three__title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110.5%;
    text-transform: uppercase;
  }


  .article-three__content-form {
    max-width: 100%;
    .article-three__form {
      width: 100%;
    }
  }

  .iama__card {
    padding: 10px;
    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 97.184%;
    }
  }

  .form-three__content .button-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .form-three__content .button-contacts input[type=submit] {
    max-width: 100%;
    width: 100%;
  }

  .about-page__section-four {
    .article-three__required {
      display: none;
    }
  }

  .popup-title__one {
    font-size: 26px;
  }
  .online-form2 {
    margin-top: 0;
  }
  .form-one__presonal-title {
    padding-bottom: 10px;
  }
  .form-one__input-phone,
  .form-one__input-email,
  .form-one__input-name,
  .form-one__input-message{
    color: #232C2E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 154.184%;
  }
  .popup-title__two {
    color: #232C2E;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 119.5%;
  }

  .form-one__phone-email {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: inherit;
  }
  .wpcf7-form-control {
    padding: 16px 0 16px 0px;
  }
  .form-thre__drop-title {
    p { display: none }
  }
  .video-item__containers {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .video-tab__menu-list {
    display: flex;
    flex-direction: column;
  }
  .hr-video { display: none }

  .main-video__tab{
    width: 100%;
    .video-tab__menu {
      width: 100%;
      .video-tab__menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 0;
        .video-tab__menu-item {
          width: 100%;
          .tablinks {
            padding: 0;
            width: 100%;
            display: block;
            max-width: 100%;
            text-align: left;
            height: 38px;
            border-bottom: 1px solid #EEF0F6;
            position: relative;
            &:after{
              position: absolute;
              margin: 0;
              bottom: -1px;
              height: 3px;
            }
          }
        }
      }
    }
  }


  .section__glass__design .section__glass__design__wrap .section__glass__design__header {
    width: 100%;
  }


}




@media screen and (max-width: 480px) {
  .children__categories__section .children__categories__wrap .children__category {

    margin-left: 0;
    margin-top: -2px;
  }
  .section__feedback__widget .feedback__widget__wrap .feedback__widget__list .feedback__widget__list__slick .slick__item {
    padding: 0;
  }
  .children__categories__section .children__categories__wrap .children__category {
    width: 100%;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 100%;
  }
  .section__product__info__variants .product__info__variants li {
    width: 100%;
  }
  .hero__section .hero__section__body .hero__btns {
    .btn_b {
      width: 100%;
    }
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .section__hardware .section__hardware__wrap .section__hardware__body .section__hardware__item__wrap {
    width: 100%;
  }
  .section__glass__design .section__glass__design__wrap .section__glass__design__body .glass__design__slider__wrap .glass__design__item__wrap .glass__design__item .design__item__thumb {
    height: 220px;
  }

  .aluminum__section .aluminum__section__body .aluminum__section__row .col_5 {
    width: 50%;
  }

}
@media screen and (max-width: 380px) {
  .main-slider {
    margin-right: 0;
  }
  .other__glass, .other__mirror, .other__shower, .other__services {
    width: 100%;
  }
}
